%div{:style => "background-color: #FFFEF1; margin: 10px 3px;"}
  %div{:style => "margin: 0px auto;width:910px;"}
    = link_to "Home", "/", {:id => "m1",:class => "menu_option"}
    = link_to "Despre noi", "/general/despre", {:id => "m2",:class => "menu_option"}
    = link_to "Proiecte", "/general/ifc", {:id => "m3",:class => "menu_option"}
    = link_to "Calendar", "/general/calendar", {:id => "m4",:class => "menu_option"}
    = link_to "Contact", "/general/contact", {:id => "m5",:class => "menu_option"}
  %br{:style => "clear:both"}
